body,
input,
button,
::placeholder,
textarea {
  font-family: "Euclid-Medium";
}

body {
  margin: 0;
  background: #100D0B;
  color: #8E8E8E;
  padding: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

p:last-child {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}


html {
  scroll-behavior: smooth;
}

.container {
  max-width: calc(1280px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}

.ass {
  font-family: var(--font-anton);
}